body {
    background-image: url("https://i.ytimg.com/vi/rQzJnkWql6s/maxresdefault.jpg");
    text-align: center;
    font-family: sans-serif;
    padding : 20px;
}
label {
    font-size: 25px;
    color: #fff;
}
p {
    font-weight: bold;
    font-size: 30px;
    color: black;
}
div {
    font-size: 300px;
    font-weight: bold;
    margin: 0 30px;
    text-shadow: 
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    transition: transform 0.3s ease;
    flex-wrap: nowrap;
    justify-content: center;
}
#bus-button img {
    width: 232px;
    height: 250px;
    cursor: pointer;
    background-color: #2196f3;
}
#result {
    font-size: 50px;
    margin-top: 20px;
}

@media (max-width: 600px) {
    div {
        font-size: 150px;
        margin: 0 10px;
    }
    #bus-button img {
        width: 116px;
        height: 125px;
    }
    #result {
        font-size: 30px;
    }
}